<div class="content-wrap">
    <!--CONTENT-->
    <div class="content">

        <div class="container" style="padding-top: 50px">
            <section id="employement">
                <div class="container">
                    <div class="row">
                        <h2 style="text-align: center">{{title}}</h2>
                    </div>
                    <div>
                        {{{text}}}
                    </div>
                </div>
            </section>
        </div>


        <!--/.CONTENT END-->
    </div>
    <!--/.CONTENT-WRAP END-->
</div>
