

<div class="content-wrap" style="padding-top: 60px">
    <!--CONTENT-->
    <div class="content">
        <div class="container">
            <section>
                <div class="input-group" style="padding-top: 5px; padding-bottom: 5px;">
                    <span class="input-group-addon">Title</span>
                    <input type="text" class="form-control" id="title">
                </div>
                <div>
                    <textarea name="content" id="editor"></textarea>
                </div>
                <div style="padding-top: 10px">
                    <button id="save" type="button" class="btn btn-primary">Save</button>
                </div>
            </section>
        </div>



        <!--/.CONTENT END-->
    </div>
    <!--/.CONTENT-WRAP END-->
</div>
