<div class="title">
    <h2>Intro</h2>
    <span class="byline">Developer & Student</span>
</div>
<p>
    Yo this is Cheng Zhou, I'm from Shanghai, China. I'm currently doing my master in Computer Science at NYU.
</p>
<p>I'm looking for an internship in a cool IT company, check out <a href="/projects">my work</a></p>
<p><a href="/contact">contact me</a> if you think I'm good :)</p>
<ul class="actions">
    <li><a href="#" class="button">Etiam posuere</a></li>
</ul>
