<!--CONTENT WRAP-->
<div class="content-wrap">
  <!--CONTENT-->
  <div class="content">
    <!--HOME-->
    <section id="home">
      <div class="container">
        <div class="row">
          <div class="wrap-hero-content">
            <div class="hero-content-left">
              <h1>Hello</h1>
              <br>
              <span class="typed"></span>
              <br>

            </div>
          </div>
          <div class="mouse-icon margin-20">
            <div class="scroll"></div>
          </div>
        </div>
      </div>
    </section>
    <!--/.HOME END-->

    <!--ABOUT-->
    <section id="about">
      <div class="col-md-6 col-xs-12 no-pad">
        <div class="bg-about"></div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 white-col">
        <div class="row">
            <div class="col-md-12">
              <div class="wrap-about">
                <div class="w-content">
                  <div class="head-about">
                    Hi my name is Cheng Zhou, I'm from Shanghai, China. I did my Master in
                    Computer Science at NYU, and currently working at Google in the bay area. See my
                    <a data-scroll="" href="#contact" style="color: blue">contact<a/>.
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 white-col">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                  <div class="wrap-about">
                    <table class="w-content">
                      <tr>
                        <td class="title">Name</td>
                        <td class="break">:</td>
                        <td> Cheng Zhou</td>
                      </tr>
                      <tr>
                        <td class="title">Email</td>
                        <td class="break">:</td>
                        <td> zhouchengkho@gmail.com</td>
                      </tr>
                      <tr>
                        <td class="title">Github</td>
                        <td class="break">:</td>
                        <td><a href="https://github.com/zhouchengkho/"
                               target="_blank">https://github.com/zhouchengkho/</a>
                        </td>
                      </tr>
                      <tr>
                        <td class="title">LinkedIn</td>
                        <td class="break">:</td>
                        <td><a href="https://www.linkedin.com/in/cheng-zhou-b2511014a/"
                               target="_blank">https://www.linkedin.com/in/cheng-zhou-b2511014a/</a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!--/.ABOUT END-->

    <!-- BLOG -->
    <section class="grey-bg" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="title-small">
              <span>Blog</span>
            </h3>
            <p class="content-detail">
              Potentially outdated blogs...
            </p>
          </div>
          <div class="col-md-9 content-right">
            <div class="row">
              <ul class="listing-item">

                {{#each blogs}}
                  <li>
                    <div class="col-md-6 col-sm-6">
                      <div class="wrap-card">
                        <div class="card">
                          <h2 class="year">
                            {{time}}
                          </h2>
                          <p class="job">
                            <a href="{{href}}" style="color: #93c1f8" target="_blank">{{title}}</a>
                          </p>
                          <hr>
                          <div class="text-detail">
                            <p>{{abstract}}</p>
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>


            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END OF BLOG -->


    <!--SKILLS-->
    <section class="white-bg" id="skill">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="title-small">
              <span>Skills</span>
            </h3>
            <p class="content-detail">
              I have done several web projects before, so I would say web dev is my advantage, but I am
              learning some interesting courses in my grad school,
              like Distributed System, Cloud Computing, Big Data. Like I said earlier, I would like to be
              more than a developer that can write commercial software,
              since using some powerful templates those can be done faster than ever. I would like to
              learn some state of the art tech, and I am on my way.
            </p>
          </div>
          <div class="col-md-9 content-right">
            <!--SKILLST-->
            <div class="skillst">
              <div class="skillbar" data-percent="90%">
                <div class="title head-sm">
                  Node.js
                </div>
                <div class="count-bar">
                  <div class="count"></div>
                </div>
              </div>
              <div class="skillbar" data-percent="90%">
                <div class="title head-sm">
                  Java
                </div>
                <div class="count-bar">
                  <div class="count"></div>
                </div>
              </div>
              <div class="skillbar" data-percent="60%">
                <div class="title head-sm">
                  GoLang
                </div>
                <div class="count-bar">
                  <div class="count"></div>
                </div>
              </div>
              <div class="skillbar" data-percent="80%">
                <div class="title head-sm">
                  Angular
                </div>
                <div class="count-bar">
                  <div class="count"></div>
                </div>
              </div>
              <div class="skillbar" data-percent="80%">
                <div class="title head-sm">
                  jQuery
                </div>
                <div class="count-bar">
                  <div class="count"></div>
                </div>
              </div>
              <div class="skillbar" data-percent="50%">
                <div class="title head-sm">
                  html/css/Javascript
                </div>
                <div class="count-bar">
                  <div class="count"></div>
                </div>
              </div>
            </div>
            <!--/.SKILLST END-->
          </div>
        </div>
      </div>
    </section>
    <!--/.SKILLS END-->

    <!--CONTACT-->
    <section id="contact" class="white-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="title-small">
              <span>Contact</span>
            </h3>


          </div>
          <div class="col-md-9">
            <p class="content-detail">
              Email: zhouchengkho@gmail.com
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--/.CONTACT END-->

    <!--/.CONTENT END-->
  </div>
  <!--/.CONTENT-WRAP END-->
</div>

