

<!--CONTENT WRAP-->
<div class="content-wrap">
    <!--CONTENT-->
    <div class="content">
        <!--HOME-->
        <section id="home">
            <div class="container">
                <div class="row">
                    <div class="wrap-hero-content">
                        <div class="hero-content">
                            <h1>Hello</h1>
                            <br>
                            <span class="typed"></span>
                        </div>
                    </div>
                    <div class="mouse-icon margin-20">
                        <div class="scroll"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--/.HOME END-->

        <!--ABOUT-->
        <section id="about">
            <div class="col-md-6 col-xs-12 no-pad">
                <div class="bg-about"></div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 white-col">
                <div class="row">
                    <!--OWL CAROUSEL2-->
                    <div class="owl-carousel2">
                        <div class="col-md-12">
                            <div class="wrap-about">
                                <div class="w-content">
                                    <div class="head-about">
                                        Hi my name is Cheng Zhou, I'm from Shanghai, China. I'm doing my Master in Computer Science at NYU, check out more about me below. I'm looking for an internship concerning Software Development/Data Science for the Summer, 2018,
                                        <a data-scroll="" href="#contact" style="color: blue">send me an email<a/> if you think I'm good :)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 white-col">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                                    <div class="wrap-about">
                                        <table class="w-content">
                                            <tr>
                                                <td class="title">Name </td>
                                                <td class="break">:</td>
                                                <td> Cheng Zhou</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Phone </td>
                                                <td class="break">:</td>
                                                <td> +1 646 568 0208</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Email </td>
                                                <td class="break">:</td>
                                                <td> zhouchengkho@gmail.com</td>
                                            </tr>
                                            <!--<tr>-->
                                                <!--<td class="title">Address </td>-->
                                                <!--<td class="break">:</td>-->
                                                <!--<td> NJ/NY</td>-->
                                            <!--</tr>-->
                                            <tr>
                                                <td class="title">Skype </td>
                                                <td class="break">:</td>
                                                <td> zhouchengkho@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Github </td>
                                                <td class="break">:</td>
                                                <td> <a href="https://github.com/zhouchengkho/" target="_blank">https://github.com/zhouchengkho/</a></td>
                                            </tr>
                                            <tr>
                                                <td class="title">LinkedIn </td>
                                                <td class="break">:</td>
                                                <td> <a href="https://www.linkedin.com/in/cheng-zhou-b2511014a/" target="_blank">https://www.linkedin.com/in/cheng-zhou-b2511014a/</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.OWL CAROUSEL2 END-->
                </div>
            </div>
        </section>
        <!--/.ABOUT END-->

        <!--EDUCATION-->
        <section class="grey-bg" id="education">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="title-small">
                            <span>Education</span>
                        </h3>
                        <p class="content-detail">
                        </p>
                    </div>
                    <div class="col-md-9 content-right">
                        <div class="row">
                            <ul class="listing-item">
                                <li>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="wrap-card">
                                            <div class="card">
                                                <h2 class="year">
                                                    2017 - Now
                                                </h2>
                                                <p class="job">
                                                    Computer Science, GPA: 3.9/4.0
                                                </p>
                                                <p class="company">
                                                    New York University
                                                </p>
                                                <hr>
                                                <div class="text-detail">
                                                    <p>
                                                        One of the reason I am doing my Master in Computer Science is that
                                                        the things I learnt at undergrad school provides me enough knowledge to be a decent Software Developer for web, or commercial software,
                                                        but in real life Software is more than that, I want to learn data analysis, data scale, deep learning. Though I'm still on my way,
                                                        I'm confident I will be good at it.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="wrap-card">
                                            <div class="card">
                                                <h2 class="year">
                                                    2013 - 2017
                                                </h2>
                                                <p class="job">
                                                    Software Engineering, GPA 3.4/4.0
                                                </p>
                                                <p class="company">
                                                    East China Normal University
                                                </p>
                                                <hr>
                                                <div class="text-detail">
                                                    <p>
                                                        The courses I took in undergrad school are the foundations that support me in my daily study/work.
                                                        A lot of switch-major students will go straight to Algorithm, which is obviously emphasized in the US,
                                                        but those foundations, for example Network Policies, Operating Systems, OO Design, and other real projects
                                                        are definitely vital and can't be overlooked.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/.EDUCATION END-->



        <!--EMPLOYEMENT-->
        <section class="grey-bg" id="employement">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="title-small">
                            <span>Employment</span>
                        </h3>
                        <p class="content-detail">
                            My work experience is mainly at startups with multi-cultucal employees. Being in a startup makes me feel so energetic, and I can feel my value
                            for the company. During deadline or release, we have to work overtime to ensure no bugs happen, which can be exhausting, but
                            it is also so cool to walk in the streets and actually see people use our app bug free :).
                        </p>
                    </div>
                    <div class="col-md-9 content-right">
                        <div class="row">
                            <ul class="listing-item">
                                <li>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="wrap-card">
                                            <div class="card">
                                                <h2 class="year">
                                                    2017.2 - 2017.8
                                                </h2>
                                                <p class="job">
                                                    Full Stack Developer
                                                </p>
                                                <p class="company">
                                                    17Hi
                                                </p>
                                                <hr>
                                                <div class="text-detail">
                                                    <p>17Hi is a company that cooperates with local bars/clubs to provide benefits for paid members.
                                                        I was responsible for backend RESTful API design, admin web page design w/ AngularJS.</p>
                                                    <a href="http://www.17hi.co" target="_blank" style="letter-spacing: 0.5px;font-size: 13px;line-height: 34px;font-weight: 300;">Check out 17Hi's page</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="wrap-card">
                                            <div class="card">
                                                <h2 class="year">
                                                    2016.5 - 2016.10
                                                </h2>
                                                <p class="job">
                                                    Full Stack Intern
                                                </p>
                                                <p class="company">
                                                    Yunkai
                                                </p>
                                                <hr>
                                                <div class="text-detail">
                                                    <p>
                                                        Yunkai is a company that deals with maritime shipping, their customers include Asia Shipping, Li&Fung.
                                                        I was responsible for backend cargo order creation (web page for input, API for writing to DB).
                                                    </p>
                                                    <a href="https://www.yunkai.info" target="_blank" style="letter-spacing: 0.5px;font-size: 13px;line-height: 34px;font-weight: 300;">Check out Yunkai's page</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="listing-item">
                                <li>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="wrap-card">
                                            <div class="card">
                                                <h2 class="year">
                                                    2016.2 - 2016.5
                                                </h2>
                                                <p class="job">
                                                    Backend Intern
                                                </p>
                                                <p class="company">
                                                    Wesmart
                                                </p>
                                                <hr>
                                                <div class="text-detail">
                                                    <p>
                                                        Wesmart is a company that provides device that can detect in-door data, like temperature, pm2, electric usage, etc.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/.EMPLOYEMENT END-->

        <!--SKILLS-->
        <section class="white-bg" id="skill">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="title-small">
                            <span>Skills</span>
                        </h3>
                        <p class="content-detail">
                            I have done several web projects before, so I would say web dev is my advantage, but I am learning some interesting courses in my grad school,
                            like Distributed System, Cloud Computing, Big Data. Like I said earlier, I would like to be more than a developer that can write commercial software,
                            since using some powerful templates those can be done faster than ever. I would like to learn some state of the art tech, and I am on my way.
                        </p>
                    </div>
                    <div class="col-md-9 content-right">
                        <!--SKILLST-->
                        <div class="skillst">
                            <div class="skillbar" data-percent="90%">
                                <div class="title head-sm">
                                    Node.js
                                </div>
                                <div class="count-bar">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="90%">
                                <div class="title head-sm">
                                    Java
                                </div>
                                <div class="count-bar">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="60%">
                                <div class="title head-sm">
                                    GoLang
                                </div>
                                <div class="count-bar">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="80%">
                                <div class="title head-sm">
                                    Angular
                                </div>
                                <div class="count-bar">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="80%">
                                <div class="title head-sm">
                                    jQuery
                                </div>
                                <div class="count-bar">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="50%">
                                <div class="title head-sm">
                                    html/css/Javascript
                                </div>
                                <div class="count-bar">
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                        <!--/.SKILLST END-->
                    </div>
                </div>
            </div>
        </section>
        <!--/.SKILLS END-->

        <!--PROJECT-->
        <section class="grey-bg" id="project">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-small-center text-center">
                            <span>Project</span>
                        </h3>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <p class="content-details text-center">
                                </p>
                            </div>
                        </div>
                        <!--GRID BLOG-->
                        <div class="grid">
                            <div class="grid-item">
                                <div class="wrap-article">
                                    <img alt="blog-1" class="img-square text-center" src="images/blog-1.png">
                                    <p class="subtitle fancy">
                                        <span>05/2017</span>
                                    </p>
                                    <a href="#">
                                        <h3 class="title">
                                            Education Data Analysis
                                        </h3>
                                    </a>
                                    <p class="content-blog">
                                        I developed a web server that pulls data from an educational interactive system database, gives estimations of
                                        how students will perform on their exams: achieved 65% hit rate of correct estimation
                                    </p>
                                </div>
                            </div>

                            <div class="grid-item">
                                <div class="wrap-article">
                                    <img alt="blog-4" class="img-square text-center" src="images/blog-4.png">
                                    <p class="subtitle fancy">
                                        <span>03/2017</span>
                                    </p>
                                    <a href="#">
                                        <h3 class="title">
                                            Cloud Photo Recognition
                                        </h3>
                                    </a>
                                    <p class="content-blog">
                                        My teammate and I developed a Desktop Application for detecting and classifying photos into categories with cloud server API, this is for National Undergraduate Training Program for Innovation and Entrepreneurship                                    </p>
                                </div>
                            </div>

                        </div>
                        <!--/.GRID BLOG END-->
                    </div>
                </div>
            </div>
        </section>
        <!--/.PROJECT END-->

        <!--WORK-->
        <!--<section class="grey-bg mar-tm-10" id="work">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                        <!--<h3 class="title-small">-->
                            <!--<span>Work</span>-->
                        <!--</h3>-->
                        <!--<p class="content-detail">-->
                            <!--Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <br><br>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="col-md-9 content-right">-->
                        <!--&lt;!&ndash;PORTFOLIO IMAGE&ndash;&gt;-->
                        <!--<ul class="portfolio-image">-->
                            <!--<li class="col-md-6">-->
                                <!--<a href="images/bw-1.png"><img alt="image" src="images/bw-1.png">-->
                                    <!--<div class="decription-wrap">-->
                                        <!--<div class="image-bg">-->
                                            <!--<p class="desc">My Resume</p>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="col-md-6">-->
                                <!--<a href="images/bw-2.png"><img alt="image" src="images/bw-2.png">-->
                                    <!--<div class="decription-wrap">-->
                                        <!--<div class="image-bg">-->
                                            <!--<p class="desc">-->
                                                <!--Pangirutan-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="col-md-6">-->
                                <!--<a href="images/bw-3.png"><img alt="image" src="images/bw-3.png">-->
                                    <!--<div class="decription-wrap">-->
                                        <!--<div class="image-bg">-->
                                            <!--<p class="desc">-->
                                                <!--Black Mug-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="col-md-6">-->
                                <!--<a href="images/bw-4.png"><img alt="image" src="images/bw-4.png">-->
                                    <!--<div class="decription-wrap">-->
                                        <!--<div class="image-bg">-->
                                            <!--<p class="desc">-->
                                                <!--Notebook Mockup-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="col-md-6">-->
                                <!--<a href="images/bw-5.png"><img alt="image" src="images/bw-5.png">-->
                                    <!--<div class="decription-wrap">-->
                                        <!--<div class="image-bg">-->
                                            <!--<p class="desc">-->
                                                <!--Presentation-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="col-md-6">-->
                                <!--<a href="images/bw-6.png"><img alt="image" src="images/bw-6.png">-->
                                    <!--<div class="decription-wrap">-->
                                        <!--<div class="image-bg">-->
                                            <!--<p class="desc">-->
                                                <!--Letter Branding-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash;/.PORTFOLIO IMAGE END&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
        <!--/.WORK END-->

        <!--CONTACT-->
        <section id="contact" class="white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="title-small">
                            <span>Contact</span>
                        </h3>


                    </div>
                    <div class="col-md-9">
                        <p class="content-detail">
                            Email: zhouchengkho@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--/.CONTACT END-->

        <!--/.CONTENT END-->
    </div>
    <!--/.CONTENT-WRAP END-->
</div>

